.selection-button {
	-fx-background-radius: 16px;
	-fx-border-radius: 15px;
	-fx-border-color: #404040;
	-fx-border-width: 1px;
	-fx-background-color:  #f4f4f4
}

.removed {
	-fx-background-color: #ff8080;
}

.combo-box {
	-fx-font-family: "Liberation Serif";
	-fx-font-size: 17px;
}

.label {
	-fx-alignment: center;
}

.preview-pane-vbox {
	-fx-alignment: center;
	-fx-padding: 10;
	-fx-font-family: "Liberation Serif";
	-fx-font-size: 10;
}

.electives-vbox{
	-fx-font-family: "Liberation Serif";
	-fx-font-size: 15;
}

.elective {
	-fx-font-size: 15;
	-fx-pref-height: 30;
	-fx-pref-width: 100;	
	-fx-border-color: black;
	-fx-font-family: "Liberation Serif";
	-fx-border-color: #404040;
    -fx-border-radius: 16px; 
    -fx-background-radius: 15px;
    -fx-border-width: 1px; 
}

.option-gridpane {
	-fx-background-color: #e6e6e6;
}

